header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  position: fixed;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: none;
  list-style: none;
  text-transform: uppercase;
  gap: 2.2rem;
  font-weight: 500;
}
main {
  min-height: 30rem;
  background-color: yellow;
}
.loading,
#section1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  font-size: 8rem;
}
